<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav 
    #sideBar 
    class="sidenav"
    mode="over" 
    [opened]="closed"
    fixedInViewport="true">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sideBar.toggle()">Home</a>
      <a mat-list-item routerLink="/stories" (click)="sideBar.toggle()">Stories</a>
      <a mat-list-item routerLink="/login" (click)="sideBar.toggle()">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button" mat-icon-button (click)="sideBar.toggle()" style="position: fixed; z-index: 1000;"><mat-icon>menu</mat-icon></button>
    <!-- Main content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>