<mat-card class="login_card">
  <mat-card-title><h3>Login</h3></mat-card-title>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <div class="message">{{ message }}</div>
            <div class="warning">{{ warning }}</div>
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-raised-button (click)="changePassword()" color="warn">Forgot Password</button>
  </mat-card-actions>
</mat-card>
