<!-- <form (submit)="loginUser($event)">
	<input type="text" placeholder="Username" id="username">
	<input type="password" placeholder="Password" id="password">
	<<button type="submit">Submit</button>
</form>

<button type="button" (click)="logoutUser($event)">Logout</button><br>
<button type="button" (click)="trialFunction($event)">Trial</button> -->
<mat-card class="login_card">
  <mat-card-title><h3>Login</h3></mat-card-title>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
