.story_card {
  margin: auto;
  max-width: 90%;
  max-height: 530px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  /*padding: 1%;*/
}

.full_story_card {
  margin: auto;
  max-width: 95%;
  max-height: 100%;
  /*padding: 1%;*/
}

.mat-card-title {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  height: 180px;
  overflow-x: auto;
  overflow-y: hidden;
}

.mat-card-subtitle {
  text-align: right;
  max-height: 50px;
  overflow-x: auto;
  overflow-y: auto;
}

.mat-card-content {
  max-height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

.full_story {
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.mat-card-content > .full_story {
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.mat-card-footer {
  max-height: 50px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

.parentClass {
  width: 100%;
}

.left {
  width: 80%;
  float: left;
}

.right {
  width: 19.5%;
  left: 80.5%;
  height: 100%;
  position: fixed;
  border-left: solid;
  border-left-width: 0.5%;
  border-left-color: black;
}

.pointer {cursor: pointer;}

.radio-group {
  display: inline-flex;
  flex-direction: column;
  padding-left: 2%;
}

.radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
