.parentClass {
  top: 25px;
  width: 100%;
}

.story_card {
  margin: auto;
  max-width: 90%;
  max-height: 530px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  overflow-y: auto;
  /*padding: 1%;*/
}

.full_story_card {
  margin: auto;
  max-width: 95%;
  max-height: 100%;
  /*padding: 1%;*/
}

.mat-grid-tile {
  width: 90%;
}

.mat-card-title {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  height: 180px;
  overflow-x: auto;
  overflow-y: hidden;
}

.mat-card-subtitle {
  text-align: right;
  max-height: 50px;
  overflow-x: auto;
  overflow-y: auto;
}

.mat-card-content {
  max-height: 300px;
  overflow-x: auto;
  overflow-y: auto;
}

.full_story {
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre-wrap;
}

.mat-card-content > .full_story {
  max-height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.mat-card-footer {
  max-height: 50px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
} 

.left {
  width: 80%;
  float: left;
}

.right {
  width: 19.5%;
  left: 80.5%;
  height: 100%;
  position: fixed;
  border-left: solid;
  border-left-width: 0.5%;
  border-left-color: black;
}

.image {
  position: relative;
}

.pointer {cursor: pointer;}

.radio-group {
  display: inline-flex;
  flex-direction: column;
  padding-left: 2%;
}

.radio-button {
  margin: 1px;
}

.example-selected-value {
  margin: 15px 0;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .left {
    margin-left: 5%;
    width: 90%;
    margin-top: 220px;
    overflow-y: auto;
  }

  .right {
    width: 100%;
    top: 50px;
    left: 0%;
    height: 150px;
    position: fixed;
    border-left: none;
    border-bottom: solid;
    border-bottom-width: 0.5%;
    border-bottom-color: black;
    background: white;
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .story_card {
    margin: 0px;
    max-width: 90%;
    max-height: 530px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    overflow-y: auto;
  }

  .image {
    position: fixed;
    margin-top: -20px;
    right: 20px;
  }

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 900px) {
  /* For desktop: */
}
