<mat-card *ngFor="let card of cards; let myIndex = index;">
	<mat-card-title>Story {{myIndex+1}}</mat-card-title>
	<mat-card-subtitle>{{ date }}</mat-card-subtitle>
	<mat-card-content>This is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...his is my story ... blah blah blah ...</mat-card-content>
	<mat-card-footer>Credits :  author 1, author 2 ...etc etc</mat-card-footer>
</mat-card>