<!--The content below is only a placeholder and can be replaced.-->
<!-- <input [(ngModel)]="inputVal"> -->
<!-- <app-hello><//app-hello> -->
<!-- <my-nav></my-nav> -->
<mat-toolbar color="primary" style="position: fixed; z-index: 1000; height: 50px;">
  <mat-toolbar-row>
    <span class="example-spacer">Welcome&nbsp;&nbsp;<i>{{ name }}</i></span>
    <button mat-button (click)="routerClick('')">
      <div *ngIf="selectedTab=='Home'">
        <u>Home</u>
      </div>
      <div *ngIf="selectedTab!='Home'">
        Home
      </div>
    </button>
    <button mat-button (click)="routerClick('stories')">
      <div *ngIf="selectedTab=='Stories'">
        <u>Stories</u>
      </div>
      <div *ngIf="selectedTab!='Stories'">
        Stories
      </div>
    </button>
    <button *ngIf="!isLoggedIn()" mat-button (click)="routerClick('login')">
      <div *ngIf="selectedTab=='Login'">
        <u>Login</u>
      </div>
      <div *ngIf="selectedTab!='Login'">
        Login
      </div>
    </button>
    <button *ngIf="!isLoggedIn()" mat-button (click)="routerClick('register')">
      <div *ngIf="selectedTab=='Register'">
        <u>Register</u>
      </div>
      <div *ngIf="selectedTab!='Register'">
        Register
      </div>
    </button>
    <button *ngIf="isAdmin()" mat-button (click)="routerClick('upload')">
      <div *ngIf="selectedTab=='Upload'">
        <u>Upload</u>
      </div>
      <div *ngIf="selectedTab!='Upload'">
        Upload
      </div>
    </button>
    <button *ngIf="isLoggedIn()" mat-button [matMenuTriggerFor]="menu">
      <span>
      <button type="button" color="primary-grey" mat-icon-button><mat-icon>account_circle</mat-icon></button>
    </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="routerClick('profile')">Profile</button>
      <button mat-menu-item (click)="logoutUser()">Logout</button>
      <button *ngIf="isAdmin()" mat-menu-item (click)="routerClick('admin')">Admin Panel</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 70px;">
  <router-outlet></router-outlet>
</div>
