.story_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
  max-height: 600px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  overflow-y: auto;
  overflow-x: auto;
  /*padding: 1%;*/
}

.login_card > .mat-form-field {
  margin: auto;
  /*min-height: 80px;
  max-height: 440px;*/
  width: 80%;
}

.story_title {
  margin: auto;
  height: 80px;
  overflow-y: auto;
  overflow-x: auto;
}

.story_text {
  margin: auto;
  height: 440px;
  overflow-y: auto;
  overflow-x: auto;
}

.story_authors {
  margin: auto;
  max-height: 80px;
  overflow-y: auto;
  overflow-x: auto;
}

/* ---------------------------------------------------------- From login css ---------------------------------------------------------- */
.login_card {
  margin: auto;
  max-width: 35%;
  max-height: 480px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
  /*padding: 1%;*/
}

.mat-card-title {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

.mat-card-content {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

.login_card > .mat-form-field {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

table {
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

.warning {
  color: red;
}

.message {
  color: green;
}
