<input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
<ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="rowSelect($event)" (editConfirm)="editRow($event)" (deleteConfirm)="deleteRow($event)"></ng2-smart-table>

<mat-card class="login_card">
  <mat-card-title><h3>Add Author</h3></mat-card-title>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <div class="message">{{ author_message }}</div>
            <div class="warning">{{ author_warning }}</div>
            <mat-form-field>
              <input matInput placeholder="Add Author" [(ngModel)]="author" name="author" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="addAuthor()" color="primary">Submit</button>
  </mat-card-actions>
</mat-card>

<br><br>

<mat-card class="login_card">
  <mat-card-title><h3>Add Genre</h3></mat-card-title>
  <mat-card-content>
    <form>
      <table cellspacing="0">
        <tr>
          <td>
            <div class="message">{{ genre_message }}</div>
            <div class="warning">{{ genre_warning }}</div>
            <mat-form-field>
              <input matInput placeholder="Add Genre" [(ngModel)]="genre" name="genre" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="addGenre()" color="primary">Submit</button>
  </mat-card-actions>
</mat-card>
