<p>
  This is hello component!
  <input [value]="inputValue" [disabled]="disabledValue">
  <br><input type="text" [(ngModel)]="modelValue">
  {{ modelValue }}
  <br><<button (click)="clickFunction(inputValue)">Click Me</button>
  </p>

  <table>
  	<tr>
  		<td>Index</td>
	  	<td>Name</td>
	  	<td>Age</td>
  	</tr>
  	<tr *ngFor="let record of records; let indexMe = index; let firstRecord=first; let lastRecord=last; let evenR = even; let oddR = odd;" [ngClass]="{even: evenR, odd: oddR}">
  		<td>{{ indexMe }}</td>
  		<td>{{ record.name }}</td>
  		<td>{{ record.age }}</td>
  	</tr>
  </table>

  <a routerLink="/">Go To Home</a>
